---
layout: compress
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="3hTXf4IRjfirmmR7IJ88W4iGZFaPfh0yl4xRH8kpeaU" />
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:900|Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    {% seo %}
  </head>
  <body style="background-color: rgb(255, 255, 255)">
    <script src="{{site.baseurl}}/js/theme.min.js"></script>
    <header>
      <a href="{{site.baseurl}}/"><div class="home"></div></a>
    </header>
    
    <a href="http://centroeducacionalonline.rds.land/pesos-das-disciplinas-da-anpad"> TESTE 2222222OPIRRA</a>
    <a href="http://materiais.centroeducacionalonline.com.br/ebook_dicas_prova_portugues_anpad"> TESTE OPIRRA</a>

    {{ content }}
    <div id="ola-teste-71faf5a938717a53e6f4"></div>
<script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script>
<script type="text/javascript">
  new RDStationForms('ola-teste-71faf5a938717a53e6f4-html', 'UA-39884858-1').createForm();
</script>
Depois de publicar o Formulário, copie o código abaixo e cole em seu site. Veja alguns casos de instalação.

<div id="123123qweqweqwe-c86e6d0eefc848648904"></div>
<script type="text/javascript" src="https://d2umgtt5tsqx05.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script>
<script type="text/javascript">
  new RDStationForms('123123qweqweqwe-c86e6d0eefc848648904-html', '').createForm();
</script>
    
    <footer>
      <script type="text/javascript" async src="https://d2umgtt5tsqx05.cloudfront.net/js/loader-scripts/67364a9a-a168-463f-b4d0-091f268c4fdd-loader.js" ></script>
      
      <hr>

      <div class="links">
        <a href="{{site.baseurl}}/about/">About</a>
        <a href="{{site.baseurl}}/contact/">Contact</a>
      </div>
      <div class="theme" onclick="theme()" style="    background-image: url({{site.baseurl}}/images/theme.svg)"></div>
      <small>maintained by <strong>ThiagoLu</strong></small>
    </footer>
    {% include analytics.html %}

  </body>
</html>
